{% extends 'base.html' %}

{% block body %}
<section>
  
    <div class="container">
        <div class="row mx-auto" id="aboutus">
            <div class="col">
                <center>
                    <h2 class="text-uppercase mt-3 font-weight-bold text-dark"><strong>ABOUT US</strong></h2>
                </center>
                <br>
                <br>
                <div class="row mx-auto mb-8">
                    <div class="col-md-4 mx-auto">
                        <div class="card card-1">
                            <br>
                            <center><i class="fa fa-bullseye fa-8x" style="color: green;" aria-hidden="true"></i>
                            </center>
                            <br>
                            <h5 class="card-title">
                                <center><b>OUR MISSION</b></center>
                            </h5>
                            <div class="card-body">
                                We will continuously serve our customers by providing the world-class services in the
                                area of our core competences that leave our Customers happy and thoroughly satisfied.
                            </div>

                        </div>
                        <br>
                    </div>

                    <div class="col-md-4 mx-auto">
                        <div class="card card-1">
                         <br>
                            <center><i class="fa fa-lightbulb fa-8x" style="color: yellow;" aria-hidden="true"></i>
                            </center>
                            <br>
                            <h5 class="card-title">
                                <center><b>OUR VISION</b></center>
                            </h5>
                            <div class="card-body">
                                To become the leading ventures in India by providing the plots at affordable price and
                                that meet our customer needs at all times. We want to provide a great way of grand
                                living for the customers.
                            </div>

                        </div>
                        <br>
                    </div>

                    <div class="col-md-4 mx-auto">
                        <div class="card card-1">
                         <br>
                            <center><i class="fa fa-users fa-8x" style="color: blue;" aria-hidden="true"></i></center>
                            <br>
                            <h5 class="card-title">
                                <center><b>OUR VALUES</b></center>
                            </h5>
                            <div class="card-body">
                                We are honest, trustworthy and ethical in our all actions. Our customers are the driving
                                force of our existence. We work together to achieve more. We support one another.
                            </div>

                        </div>
                        <br>
                    </div>

                    <div class="col">
                        <center>
                            <h2 class="text-uppercase mt-3 font-weight-bold text-dark"><strong>OUR TEAM</strong></h2>
                        </center>
                        <br>
                        <br>
                    

                    <div class="row mx-auto mb-8">
                        <div class="col-md-4 mx-auto">
                            <div class="card">
                             <br>
                                <center><i class='fas fa-user-tie fa-8x' style="color:#000000 ;" aria-hidden="true"></i>
                                </center>
                                <br>
                                <h5 class="card-title">
                                    <center><b>MR. DORABABU ORUGANTI</b></center>
                                </h5>
                                <div class="card-body">
                                    I am a BSC chemistry graduate from Andhra University. I am passionate towards
                                    Enterpreneurship and having awareness in handling different business situations. I
                                    have an experience of 7 years in real estate and expertise in business management.
                                </div>

                            </div>
                            <br>
                        </div>
                        <div class="col-md-4 mx-auto">
                            <div class="card card-1">
                                <br>
                                <center><i class='fas fa-user-tie fa-8x' style="color:green;" aria-hidden="true"></i>
                                </center>
                                <br>
                                <h5 class="card-title">
                                    <center><b>MR. DORABABU AMARADHI</b></center>
                                </h5>
                                <div class="card-body">
                                    I am very dedicated and commited towards business. I am having 6 years of experience
                                    in real estate and handeled multiple layouts.I am very hardworking person and
                                    having a good knowledge in dealing the management section, as well as operations in real estate field.
                                </div>

                            </div>
                            <br>
                        </div>

                        <div class="col-md-4 mx-auto">
                            <div class="card card-1">
                             <br>
                                <center><i class='fas fa-user-tie fa-8x' style="color:yellow;" aria-hidden="true"></i>
                                </center>
                                <br>
                                <h5 class="card-title">
                                    <center><b>MR. SATHIBABU CHALLA</b></center>
                                </h5>
                                <div class="card-body">
                                    I am a Farmer as well as a businessman. I am very much experienced in business and
                                    having an experience of 28 years in business in various sectors like
                                    paddy,grains,cerals. I am in real estate field from past 15 years and expertise in
                                    dealing the clients.
                                </div>

                            </div>

                        </div>
                   
                        <div class="col">
                            <center>
                                <h2 class="text-uppercase mt-3 font-weight-bold text-dark"><strong>OUR HISTORY</strong>
                                </h2>
                            </center>
                            <br>
                            <br>
                        
                        <div class="row mx-auto mb-8">
                            <div class="col-md-4 mx-auto">
                                <div class="card">
                                 <br>
                                    <center><i class='fas fa-city fa-8x' style="color:#ff6f00 ;"
                                               aria-hidden="true"></i></center>
                                    <br>
                                    <h5 class="card-title">
                                        <center><b>CITIES</b></center>
                                    </h5>
                                    <div class="card-text">
                                        <center>5+ Cities</center>
                                    </div>

                                </div>
                                <br>
                            </div>
                            <div class="col-md-4 mx-auto">
                                <div class="card">
                                 <br>
                                    <center><i class='fas fa-table fa-8x' style="color:#37474F ;"
                                               aria-hidden="true"></i></center>
                                    <br>
                                    <h5 class="card-title">
                                        <center><b>LAYOUTS</b></center>
                                    </h5>
                                    <div class="card-text">
                                        <center>10+ Layouts</center>
                                    </div>

                                </div>
                                <br>
                            </div>

                            <div class="col-md-4 mx-auto">
                                <div class="card">
                                 <br>
                                    <center><i class='fas fa-user fa-8x' style="color:#673ab7 ;"
                                               aria-hidden="true"></i></center>
                                    <br>
                                    <h5 class="card-title">
                                        <center><b>BUYERS</b></center>
                                    </h5>
                                    <div class="card-text">
                                        <center>600+ Buyers</center>
                                    </div>

                                </div>
                                <br>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


{% endblock body %}