{% extends 'base.html' %}

{% block body %}

<section>
    <style>
     #buyers{
  background-color: #ffffff;
  letter-spacing: 1px;
  }
</style>
<div class="container">
  <div class="row mx-auto" id="buyers">
    <div class="col">
      <center>
        <h2 class="text-uppercase mt-3 font-weight-bold text-dark"><strong>REVIEWS</strong></h2>
    </center>
    <br>
    <br>
    <div class="row mx-auto">
      <div class="col mx-auto">
        {% for review in reviews %}
        <div class="card card-1">
          <br>
          <h5 class="card-title"><center><b>{{review.name}}</b></center></h5>
          <div class="card-body" style="float:initial">{{review.text}}
            <br>
            <div class="card-text" style="float: right;">{{review.date}}
            </div>
          </div>
        </div>
        <br>
        {% endfor %}
      </div>
     
    </div>
    <center>
      <h2 class="text-uppercase mt-3 font-weight-bold text-dark"><strong>VIDEOS</strong></h2>
    </center>
    
    <video width="350" height="300" controls>
      <source src="../../media/property/video_1.mp4" type="video/mp4">
      <source src="../../media/property/video_1.ogg" type="video/ogg">
      Your browser does not support the video tag.
    </video>

    <video width="350" height="300" controls>
      <source src="../../media/property/video_2.mp4" type="video/mp4">
      <source src="../../media/property/video_2.ogg" type="video/ogg">
      Your browser does not support the video tag.
    </video>

    <video width="350" height="300" controls>
      <source src="../../media/property/video_3.mp4" type="video/mp4">
      <source src="../../media/property/video_3.ogg" type="video/ogg">
      Your browser does not support the video tag.
    </video>
     

      
    </div>
  </div>
</div>
    </div>
  </div>
</div>

</section>

{% endblock body %}