{% extends 'base.html' %}

{% block body %}
<br>
<div class="container">
    <div class="row mx-auto mb-8">
        {% for property in property_list %}
      <div class="col-md-4 mx-auto">

        <div class="card card-1">
            <img class="card-img-top" src="{{property.image.url}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> {{property.name}}</h5>
                <div class="card-text"><span class="w3-tag w3-spin w3-medium"> {{property.availability}}</span>
                </div>
                <br>
              <i class="fa fa-map-marker-alt mt-6" aria-hidden="true"></i><span> {{property.location}}</span>

                 <p class="card-text"></p>

                <a href="{% url 'venture:property_detail' property.id %}" class="btn btn-primary btn-rounded btn-md"> Details</a>
            </div>
        </div>
        <br>
      </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}